doctype html
html(lang='en')
  include common/head.jade
  +head("Starter MVP")
  body
    block content
      header
        include common/navbar.jade
        +navbar()
      .container.align-items-center
        .row.align-items-center
          //- .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            //- form(action="/", method="POST")
            //-   .input-group.mb-3
            //-     input(name="chat_message" type="text" placeholder="Text Message").form-control
            //-     .input-group-append
            //-         button(type="submit").btn.btn-primary Send It
        .row
          .col-md-6
            h1= title
            if messages
              table.table
                thead
                  tr
                    th(scope="col") Messages
                    th(scope="col") 
                    th(scope="col")
                  tr
                tbody                    
                  for message in messages
                    tr(id=message.id)
                      td
                        span=message.message
                      td
                        a(href="/message/" + message.id) Details
                      td.text-right
                        button(onclick=`deleteMessage('${message.id}')`).btn.btn-danger Delete
            form(action="/", method="POST")
              .input-group.mb-3
                input(name="chat_message" type="text" placeholder="Text Message").form-control
                .input-group-append
                    button(type="submit").btn.btn-primary Send It
              
              //- form(action="/", method="POST")
              //-   input(name="chat_message" type="text", placeholder="Text Message")
              //-   button(type="submit") Send It

        include common/footer.jade
        +footer()
        script(src='/javascripts/message.js')  

            //- button(onclick=`newMessage('${message.message}')`) Submit

