doctype html
html(lang='en')
  include common/head.jade
  +head("Starter MVP")
  body
    block content
      h1= title
      form(action="/", method="POST")
        input(name="chat_message" type="text", placeholder="Text Message")
        button(type="submit") Send It
      //- button(onclick=`newMessage('${message.message}')`) Submit

      if messages
        //- button(onclick=`newMessage('${message.message}')`) Submit
        for message in messages
          p= "\n"
          h7(id=message.id)
            span= message.message + "\n"
            a(href="/message/" + message.id) Details
            //- form(action="/message/" + message.id + "/delete", method="POST")
            //-   button(type="submit") Delete the Message
            button(onclick=`deleteMessage('${message.id}')`) Delete
        include common/footer.jade
        +footer()
        script(src='/javascripts/message.js')    