doctype html

html(lang='en')
  include common/head.jade
  +head("Starter MVP")
  body
    block content
      header
        include common/navbar.jade
        +navbar(user)
        .container
            .row.align-items-center
                .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            .row
                .col-md-6(id="chatbox")
                    h1=title
                    div(id="messages_box")
                        if messages
                            table.table
                                //- thead
                                //-     tr
                                //-         th(scope="col") Messages
                                //-         th(scope="col") 
                                //-         th(scope="col")
                                //-     tr
                                tbody                    
                                    for message in messages
                                        tr(id=message.id)
                                            td
                                                span=message.message
                                            td.text-right
                                                a(href="/message/" + message.id).btn.btn-primary Edit
                                                button(onclick=`deleteMessage('${message.id}')`).btn.btn-danger Delete
                        form(id="chat_send_form" action="/", method="POST")
                            .input-group.mb-3
                              input(id="text_form" name="chat_message" type="text" placeholder="Text Message").form-control
                              .input-group-append
                                button(id="send_button" type="submit").btn.btn-primary Send It

        include common/footer.jade
        +footer()
        script(src='/javascripts/message.js')  

            //- button(onclick=`newMessage('${message.message}')`) Submit