doctype html

html(lang='en')
  include common/head.jade
  +head("Starter MVP")
  body
    block content
      header
        include common/navbar.jade
        +navbar(user)
        .container
            .row.align-items-center
                .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            .row
                .col-md-6(id="chatbox")
                    h1=account.email
<<<<<<< HEAD
                    if changeable
                      form(action="/account/" + account.id + '/?_method=PUT' method="POST")
                        input(type="hidden" name="_method" value="PUT")
                        .input-group.mb-3
                          em First Name
                            input(id="email_form" name="f_name" type="text" placeholder="First Name" value=account.firstname).form-control
                            .input-group-append
                          em Last Name
                            input(id="email_form" name="l_name" type="text" placeholder="Last Name" value=account.lastname).form-control
                            .input-group-append
                          em Email
                            input(id="email_form" name="email" type="email" placeholder="Email" value=account.email).form-control
                            .input-group-append
                              button(id="send_button" type="submit").btn.btn-primary Update Info
=======
                    p
                      for column in account.dataValues
                        p=column

>>>>>>> master

    include common/footer.jade
    +footer()